{% extends 'client/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
<!--            <img src="{{ product.image | media_filter }}">-->
            <div class="card-body">
              <p class="card-text">Название рассылки: {{object.name}}</p>
              <p class="card-text">Дата и время первой рассылки: {{object.created_at}}</p>
              <p class="card-text">Периодичность: {{object.intervals}}</p>
              <p class="card-text">Статус рассылки: {{object.status}}</p>
              <p class="card-text">Пользователь, добавивший товар: {{object.user}}</p>
              <div class="d-flex justify-content-between align-items-center">
                {% for subscription in object.subscription_set.all %}
                <li>{{ subject }}</li>
                {% endfor %}
                <div class="btn-group">
                  <a class="btn btn-dark" href="{% url 'client:subscription_list' %}" role="button">Назад</a>
                  {% if request.user == object.user %}
                            <a class="btn btn-warning" href="{% url 'client:subscription_update' object.pk %}" role="button">Редактировать</a>
                  <a class="btn btn-danger" href="{% url 'client:subscription_delete' object.pk %}" role="button">Удалить</a>
                            {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}